<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">设备管理</a></li>
        <li class="active">设备信息</li>

    </ol>
</section>

<!--导入模态框-->
<div id="excelModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog"  role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">导入Excel文件</h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" id="excelForm" enctype="multipart/form-data" >
<!--                    th:action="@{/equipment/import}" method="post"-->
                    <div class="box-body">

                        <div class="form-group">
                            <label  class="col-sm-3 control-label">文件 :</label>

                            <div class="col-sm-8">
                                <input class="form-input" type="file" name="file">
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="pull-right">
                            <button type="submit" id="saveEquipment"  class="btn btn-info">确定</button>
                            <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--查询 导入 导出-->
<section class="content">
    <div class="jax-box">
        <form id="formSearch" class="form-horizontal form-search">
            <div class="form-group">
                <div class="col-md-4 col-sm-6">
                    <label class="control-label  col-xs-4" for="equipname">设备名称:</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="equipname">
                    </div>
                </div>

                <shiro:hasPermission name="equipment:list">
                    <div class="col-md-1 col-sm-6 " style="text-align:left;">
                        <button type="button" id="btn_query" class="btn btn-info">查询</button>
                    </div>
                </shiro:hasPermission>
            </div>
        </form>
    </div>


    <div class="jax-box jax-box-table">
        <div id="toolbar" class="btn-group">
            <shiro:hasPermission name="equipment:out">
                <button id="btn_out" type="button" class="btn btn-primary" data-toggle="modal" data-target="#equipmentModal">
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>导出表格
                </button>
            </shiro:hasPermission>

            <shiro:hasPermission name="equipment:add">
            <button id="btn_in" type="button" class="btn btn-danger" data-toggle="modal" data-target="#excelModal">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>导入表格
            </button>
            </shiro:hasPermission>

        </div>
        <table id="table"></table>
    </div>
</section>

<div id="equipmentDetailModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">设备信息</h4>
            </div>
            <div class="modal-body">
                <div id="equipmentOpenWindow">
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    var deleteFlag = "[[${@perms.hasPerm('equipment:delete')}]]";

    var columns = [
        {checkbox: true },
        {
            field: 'belongLab',
            title: '所属实验室',
            align : "center"
        },{
            field: 'number',
            title: '设备编号',
            align : "center"
        }, {
            field: 'equipname',
            title: '设备名称',
            align : "center",
        }, {
            field: 'version',
            title: '型号',
            align : "center"
        },{
            field: 'spec',
            title: '规格',
            align : "center"
        }, {
            field: 'manufactor',
            title: '厂家',
            align : "center",
        }, {
            field: 'usingDirection',
            title: '使用方向',
            align : "center"
        },{
            field: 'stoLocation',
            title: '存储位置',
            align : "center"
        },{
            field: 'factoryNumber',
            title: '出厂号',
            align : "center"
        },
        {
            field: 'leader',
            title: '领用人',
            align : "center",
        }, {
            field: 'damage',
            title: '状态',
            align : "center",
            formatter:function(value,row, index){
                 if (row.damage == '1') {
                     return "正常";
                 }
                 else if(row.damage == '2'){
                     return "报修";
                 }
                 else {
                     return "报废";
                 }
            }
        },

        {
            field : 'operation',
            title : '操作',
            align : "center",
            formatter : function(value,
                                 row, index) {
                var del = deleteFlag=="true"  ?  '<a  class="table-btn table-btn-danger" href="javascript:void(0)" onclick="deleteEquipment('+row.id+')">删除</a>' : '<a  class="table-btn table-btn-info" href="javascript:void(0)" onclick="updateEquipment('+row.id+')">提交</a>';

                return  del;
            }
        }];
    var options={
        id:"#table",
        url: '/equipment/list',
        columns:columns,
        toolbar: '#toolbar',
        showRefresh: true,
        queryParams : queryParams
    }
    Core.initTable(options);


    /*查询实验室参数*/
    function queryParams(params) {
        var temp = { //这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
            limit : params.limit, //页面大小
            offset : params.offset, //页码
            equipname : $("#equipname").val()

        };
        return temp;
    }


    /*删除*/
    function deleteEquipment(id) {
        Core.confirm("确定删除该设备？",function () {
            Core.postAjax("/equipment/delete",{"id":id},function (data) {
                if(data.status==200){
                    Core.refreshTable("#table");
                }
                layer.msg(data.msg);
            },"get")
        })
    }


    function updateEquipment(id) {
        Core.load("#equipmentOpenWindow","/equipment/edit?id="+id,function(){
            $("#equipmentDetailModal").modal("show");
        },2);
    }

    $("#saveEquipment").click(function(){

            Core.mask("#saveEquipment");
            Core.postAjax("/equipment/import",$("#excelForm").serialize(),function (data) {
                // Core.unmask("#saveEquipment");
                if(data.status==200){
                    $("#excelModal").modal("hide");
                    $("#excelForm")[0].reset();
                    Core.refreshTable("#table")
                }
                layer.msg(data.msg);
            })

    });

    $(function () {
        /*查询*/
        $("#btn_query").click(function(){
            Core.refreshTable("#table");

        });
        /*导出*/
        $("#btn_out").click(function(){
            Core.clearError("#equipmentForm");
            // window.location.href = 'equipment/excel'
            window.location.href = 'equipment/export'
        });
        $("#btn_in").click(function(){
            Core.clearError("#userForm");
        });

    });

</script>