<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laboratory.graduation.mapper.LabMapper">
    <resultMap id="BaseResultMap" type="com.laboratory.graduation.model.Lab" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <id column="location" property="location" jdbcType="VARCHAR" />
        <result column="identifier" property="identifier" jdbcType="VARCHAR" />
        <result column="lab_name" property="labName" jdbcType="VARCHAR" />

    </resultMap>
    <sql id="Base_Column_List" >
        id, location, identifier, lab_name
    </sql>

    <select id="selectLabs" resultMap="BaseResultMap" parameterType="com.laboratory.graduation.model.Lab">
        SELECT <include refid="Base_Column_List"/> FROM lab
        WHERE status=1
        <if test="identifier !=null and identifier != ''">
           AND identifier like concat('%', #{identifier}, '%')
        </if>

    </select>

    <select id="selectLabById" resultMap="BaseResultMap" parameterType="string">
        SELECT <include refid="Base_Column_List"/> FROM lab where id = #{id,jdbcType=BIGINT}
    </select>

    <update id="updateByLabId" parameterType="com.laboratory.graduation.model.Lab">
        update lab SET identifier=#{identifier},location=#{location},lab_name=#{labName} where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateStatusById" parameterType="string">
        update lab SET status=0 where id = #{id,jdbcType=BIGINT}
    </update>


</mapper>