<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.laboratory.graduation.mapper.LabMapper">
    <resultMap id="BaseResultMap" type="com.laboratory.graduation.model.Lab" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <id column="location" property="location" jdbcType="VARCHAR" />
        <result column="identifier" property="identifier" jdbcType="VARCHAR" />
        <result column="lab_name" property="labname" jdbcType="VARCHAR" />

    </resultMap>
    <sql id="Base_Column_List" >
        id, location, identifier, lab_name
    </sql>

    <select id="selectLabs" resultMap="BaseResultMap" parameterType="com.laboratory.graduation.model.Lab">
        SELECT <include refid="Base_Column_List"/> FROM lab
        <if test="identifier !=null and identifier != ''">
            WHERE identifier like concat('%', #{identifier}, '%')
        </if>

    </select>

    <select id="selectLabById" resultMap="BaseResultMap" parameterType="string">
        SELECT <include refid="Base_Column_List"/> FROM lab where id = #{id,jdbcType=BIGINT}


    </select>

    <update id="updateByLabId" parameterType="com.laboratory.graduation.model.Lab">
        update lab SET identifier=#{identifier},location=#{location},lab_name=#{labname} where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteById" parameterType="string">
        delete
    </delete>
</mapper>